* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.gameOver {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  z-index:-1;
  font-size: 100px;
  background-color: rgba(00, 00, 00, 0);
  color: white;
}
canvas {
  top: 0;
  left: 0;
  z-index:1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
}
